<nav id="nav">
  <ul>
    <li><a href="{{ site.baseurl }}/" {% if page.url == '/' %} class="active" {% endif %}>Home</a></li>
    <li><a href="{{ site.baseurl }}/mission/" {% if page.url == '/mission/' %} class="active" {% endif %}>Motivation</a></li>
    <li><a href="{{ site.baseurl }}/about/" {% if page.url == '/about/' %} class="active" {% endif %}>State-of-art</a></li>
    <!--li><a href="{% if page.url == '/' %}#featured{% else %}{{ site.baseurl }}/#featured{% endif %}" class="scrolly">Featured Projects</a></li-->
    <li><a href="{{ site.baseurl }}/grantees/" {% if page.url == '/grantees/' %} class="active" {% endif %}>Data Description</a></li>
    <li><a href="{{ site.baseurl }}/approach/" {% if page.url == '/approach/' %} class="active" {% endif %}>Approach</a></li>
    <li><a href="{{ site.baseurl }}/result/" {% if page.url == '/result/' %} class="active" {% endif %}>Result</a></li>
    <li><a href="{{ site.baseurl }}/discussion/" {% if page.url == '/discussion/' %} class="active" {% endif %}>Discussion</a></li>
    <li><a href="{{ site.baseurl }}/reference/" {% if page.url == '/reference/' %} class="active" {% endif %}>References & Link</a></li>


  </ul>
</nav>
